---
include:
  - /.gitlab/build.yaml
  - /.gitlab/common.yaml
  - /.gitlab/upload.yaml
  - /.gitlab/promote_testing.yaml
  - /.gitlab/test.yaml
  - /.gitlab/promote.yaml

variables:
  DD_PKG_VERSION: 0.6.0-beta.1
  CI_IMAGE_DEB_X64: v47979770-a5a4cfd0
  DESTINATION_DEB: datadog-signing-keys.deb
  OMNIBUS_BASE_DIR: /.omnibus
  OMNIBUS_PACKAGE_DIR: $CI_PROJECT_DIR/.omnibus/pkg/
  PACKAGE_VERSION_OVERRIDE: ""
  PIPELINE_KEY_ALIAS: "alias/ci_datadog-signing-keys_pipeline-key"
  PROJECT_NAME: datadog-signing-keys
  GITLAB_BASE_URL: "https://artifact-gateway.us1.staging.dog/internal/artifact-gateway/api/v4"
  USR_SHARE_KEYRING: /usr/share/keyrings/datadog-archive-keyring.gpg
  DD_LIST_FILE: /etc/apt/sources.list.d/datadog.list
  OPW_LIST_FILE: /etc/apt/sources.list.d/datadog-observability-pipelines-worker.list
  SIGNING_KEYS_FILE: /etc/apt/sources.list.d/datadog-signing-keys.list
  # Fun note: if you use the same URL in 2 source files once with signed-by and
  # once without it, some older versions of APT segfault.
  SOURCE_SIGNED_BY: "deb [signed-by=${USR_SHARE_KEYRING}] http://notimportant x y"
  SOURCE_NO_SIGNED_BY: "deb http://reallynotimportant x y"
  VERSION: 1.4.0
  RELEASE_VERSION_STABLE: $CI_COMMIT_TAG
  RELEASE_VERSION_BETA: $VERSION-pipeline.$CI_PIPELINE_ID.beta.$CI_COMMIT_SHORT_SHA
  RELEASE_VERSION_BETA_DEPLOY: $VERSION~pipeline.$CI_PIPELINE_ID.beta.$CI_COMMIT_SHORT_SHA

workflow:
  rules:
    - if: $CI_COMMIT_TAG != null
      variables:
        PACKAGE_VERSION: $RELEASE_VERSION_STABLE
        RELEASE_VERSION_DEPLOY: $RELEASE_VERSION_STABLE
    - variables:
        PACKAGE_VERSION: $RELEASE_VERSION_BETA
        RELEASE_VERSION_DEPLOY: $RELEASE_VERSION_BETA_DEPLOY

stages:
  - build
  - upload
  - promote_testing
  - test
  - promote
